  <html>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">

     function provider_id() {
      var prov_id = window.location.href.substring(window.location.href.lastIndexOf('/')+1);
      return "/bills/"+ prov_id;
    }

        function changeText2() {
      var t1 = document.getElementById('t1').value;
      var t2 = document.getElementById('t2').value;
      var lnk = document.getElementById('lnk');
      lnk.href = "http://localhost:8081" + provider_id() +"/?from=" +t1 +"&to=" +t2 ;
      window.location = "http://localhost:8081" +provider_id() +"/?from=" +t1 +"&to=" +t2;
    }
    </script>


  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
  <nav class="headNev">
        <a class="headNevLink1" href="http://localhost:8081/">  <i>Index</i></a>
        <a class="headNevLink2" href="http://localhost:8081/health">Health </a>
        <a class="headNevLink1" href="http://localhost:8081/providers">Providers</a>
        <a class="headNevLink2" href="http://localhost:8081/rates">Rates</a>
        <a class="headNevLink1" href="http://localhost:8081/trucks">Trucks </a>
        <a class="headNevLink2" href="http://localhost:8081/bills">Bills </a>
    </nav>
    <div class="contentBlock" style="top:200px ">
    <p> Please enter the wanted dates:</p>
   <a hidden>Link <a href="" id=lnk> </a>
  <br>
  <input type='text' id='t1'/>
  <input type='text' id='t2'/>
  <input type='button' onclick='changeText2()' value='Enter' />
    </a>
    </div>
  </body>
</html>
