
<html>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    function room() {
      var room = window.location.href.substring(window.location.href.lastIndexOf('/')+1);
      return "/api/"+room;
    }

    function updateChat() {
      $.get(room(),function(data) {
        $("#chatbox").text(data);
        window.setTimeout(updateChat,10000);
      })
    }

    function sendmessage() {
      $.post( room(), $( "#inform" ).serialize() );
    }

    $(document).ready(function() {
      $("#chatbox").text("Loading Rates...");
      $("#sendBtn").click(sendmessage)
      window.setTimeout(updateChat);
    });

  </script>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
  <div class="contentBlock" style="top:200px ">
    <form id="inform" action="/api/rates.html" method="POST">
      <pre> Choose File to Upload from this list: {{ mydir }} </pre>
      <input name="msgfile" type=text>
      <input id="sendBtn" type="button" value="send">
    </form>
    <h3> These are the current rates: </h3>
    <pre id="chatbox"></pre>
  </div>
  <nav class="headNev">
        <a class="headNevLink1" href="http://localhost:8081/">  <i>Index</i></a>
        <a class="headNevLink2" href="http://localhost:8081/health">Health </a>
        <a class="headNevLink1" href="http://localhost:8081/providers">Providers</a>
        <a class="headNevLink2" href="http://localhost:8081/rates">Rates</a>
        <a class="headNevLink1" href="http://localhost:8081/trucks">Trucks </a>
        <a class="headNevLink2" href="http://localhost:8081/bills">Bills </a>
    </nav>
  </body>
</html>
