  <html>


  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
      <link rel="stylesheet" href="../static/styles/style.css">
  </head>
  <body>
  <nav class="headNev">
        <a class="headNevLink1" href="http://localhost:8081/">  <i>Index</i></a>
        <a class="headNevLink2" href="http://localhost:8081/health">Health </a>
        <a class="headNevLink1" href="http://localhost:8081/providers">Providers</a>
        <a class="headNevLink2" href="http://localhost:8081/rates">Rates</a>
        <a class="headNevLink1" href="http://localhost:8081/trucks">Trucks </a>
        <a class="headNevLink2" href="http://localhost:8081/bills">Bills </a>
    </nav>
    <div class="imageBlock" style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
        <h2> Billing Services - " Gan Shmuel"</h2>
        <img src="../static/index.png" alt="gan-shmuel" style="left : 1320px; position: relative;display: inline-block ">
    </div>




  </body>
</html>