version: '3.3'
services:
  app:
    build: ./app
    depends_on:
      - mysql
    #environment:
    #  - DYNAMIC_PORT=8083
    ports: 
      #- "${DYNAMIC_PORT}:5000"
      - 8083:5000
      
  mysql:
    image: mysql:8
    #container_name: mysql_db_weight
    volumes: 
      - /mysql-db:/docker-entrypoint-initdb.d
    environment: 
      - MYSQL_ROOT_PASSWORD=123456
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10