  <html>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    function room() {
      var room = window.location.href.substring(window.location.href.lastIndexOf('/')+1);
      return "/api/"+room;
    }

    function updateChat() {
      $.get(room(),function(data) {
        $("#chatbox").text(data);
        window.setTimeout(updateChat,15000);
      })
    }

    function sendmessage() {
      $.post( room(), $( "#inform" ).serialize() );
    }

    $(document).ready(function() {
      $("#chatbox").text("Loading Providers...");
      $("#sendBtn").click(sendmessage)
      window.setTimeout(updateChat,15000);
    });

  </script>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
  <nav class="headNev">
        <a class="headNevLink1" href="http://3.123.232.208:8082/">  <i>Index</i></a>
        <a class="headNevLink2" href="http://3.123.232.208:8082/health">Health </a>
        <a class="headNevLink1" href="http://3.123.232.208:8082/providers">Providers</a>
        <a class="headNevLink2" href="http://3.123.232.208:8082/rates">Rates</a>
        <a class="headNevLink1" href="http://3.123.232.208:8082/trucks">Trucks </a>
        <a class="headNevLink2" href="http://3.123.232.208:8082/bills">Bills </a>
    </nav>
  <div class="contentBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
      <h3>To enter a new provider please enter provider name: </h3>
    <form id="inform" action="/api/provider.html" method="POST">
      <input name="provider" type=text >
      <input id="sendBtn" type="button" value="submit">
    </form>
      </div>
  <div class="imageBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
      <img src="../static/fruits-images-fruit-icon-plant-food-stencil-apple-transparent-png-841708.png" alt="gan-shmuel" style="left : 1320px; position: relative;display: inline-block;height:290px;width:300px ">
  </div>
  </body>
</html>
