  <html>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script type="text/javascript">
    function room() {
      var room = window.location.href.substring(window.location.href.lastIndexOf('/')+1);
      return "/api/"+room;
    }

    function updateChat() {
      $.get(room(),function(data) {
        $("#chatbox").text(data);
        window.setTimeout(updateChat,15000);
      })
    }

    function sendmessage() {
      $.post( room(), $( "#inform" ).serialize() );
    }

    function changeText2() {
      var userInput = document.getElementById('userInput').value;
      var lnk = document.getElementById('lnk');
      lnk.href = "http://18.157.175.199:8081/trucks/" + userInput;
      window.location = "http://18.157.175.199:8081/trucks/" + userInput;
    }




    $(document).ready(function() {
      $("#chatbox").text("Loading Trucks...");
      $("#sendBtn").click(sendmessage)
        window.setTimeout(updateChat, 15000);
    });


  </script>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
  <nav class="headNev">
        <a class="headNevLink1" href="http://18.157.175.199:8081/">  <i>Index</i></a>
        <a class="headNevLink2" href="http://18.157.175.199:8081/health">Health </a>
        <a class="headNevLink1" href="http://18.157.175.199:8081/providers">Providers</a>
        <a class="headNevLink2" href="http://18.157.175.199:8081/rates">Rates</a>
        <a class="headNevLink1" href="http://18.157.175.199:8081/trucks">Trucks </a>
        <a class="headNevLink2" href="http://18.157.175.199:8081/bills">Bills </a>
    </nav>
  <div class="contentBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
      <h3>To enter a new provider's truck please enter truck number and provider's id:</h3>
    <form id="inform" action="/api/" method="POST">
      Provider Id:<input name="Provider-Id" type=text>
      Truck Id:<input name="Truck-Id" type=text>
      <input id="sendBtn" type="button" value="send">
    </form>
   <a hidden>Link <a href="" id=lnk> </a>
  <br>
   <h3>To inspect a specific truck enter truck number:</h3>
  <input type='text' id='userInput'/>
  <input type='button' onclick='changeText2()' value='Enter' />
    </a>
  </div>
     </div>
  <div class="imageBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
      <img src="../static/favpng_transport-vehicle-car-logo-truck.png" alt="gan-shmuel" style="left : 1280px; position: relative;display: inline-block;height:350px;width:380px ">
  </div>
  </body>
</html>
